.land{
	.ivu-form{
		width:500px;
		margin: 100px auto;
		.title{
			text-align: center;
			font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
		}
	}
	
}