.page {
  &.report {
    .filter{
      margin-bottom: 25px;
    }
    .s-title{
      border-left:4px solid $blue;
      padding-left:10px;
      height: 20px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    .cont-full{
      width: 100%;
      border:1px solid $borderColor;
    }
    #line-chart{
      border:1px solid $borderColor;
      height: 244px;
      width: 100%;
      margin-bottom: 15px;
    }
    .half{
      float: left;
      width: 48.5%;
      margin-bottom: 15px;
      position:report;
      #yun-chart,#pie-chart,.yun-chart{
        border:1px solid $borderColor;
        width: 100%;
        height: 330px;
      }
      .yun-chart{
        position:absout;
        text-align:center;
        padding-top:100px;
        font-size:20px;
        .title{
          padding-bottom:40px;
        }
      }
      &:first-child{
        margin-right:3%;
      }
      
    }
    .comment{
      border:1px solid $borderColor;
      padding:0 18px;
      .comment-item{
        border-bottom: 1px dotted $borderColor;
        &:last-child{
          border-bottom:0;
        }
      }
      .no-content{
        padding: 40px;
        text-align: center;
        font-size: 20px;
        min-height:200px;
        img{
          margin-top:40px;
        }
      }
      .cont{
        float: left;
        padding-bottom:20px;
        padding-top: 20px;
        img{
          display: inline-block;
          vertical-align: middle;
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }
        .detail{
          display: inline-block;
          vertical-align: top;
          margin-left: 10px;
        }
        .name{
          font-weight:bold;
          font-size: 14px;
          height: 30px;
          line-height: 30px;
        }
        .content{
          font-size: 12px;
          color: #2a333b;
          max-width: 900px;
          text-align:left;
          padding:0;
        }
      }
      .zan{
        float: right;
        line-height: 111px;
        color: #212121;
        font-weight:bold;
        em{
          font-size: 14px;
        }
      }
    }

  }
}
